.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8e26d;
  gap: 1rem
}

.logo{
  height: 100px;
}

.title {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

